@font-face {
  font-family: "English157BT";
  src: url("fonts/TT0840M.TTF");
}

@font-face {
  font-family: "Arial";
  src: url("fonts/ARIAL.TTF");
}

@font-face {
  font-family: "Tahoma";
  src: url("fonts/TAHOMA.TTF");
}

body {
	font-family: "Arial";
	font-weight: 400;
	position: relative; 
	height: 97vh;
}

.screensaver {
	background: #323232;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	display: block;
	width: 24vw;
	margin: auto;
}

h1 {
	font-family: "English157BT";
	font-weight: 400; 
	color: white;
	font-size: 5vw;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.ru {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.13vw;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 0.1vw;
}

.pic {
	color: white;
	text-align: center;
	font-size: 2.3vw;
	margin-top: 0;
	margin-bottom: 15px;
	letter-spacing: 0.2vw;
}

.links a {
	color: white;
	padding: 8px 2.5vw;
	text-decoration: none;
	background: #4c4c4c;
	font-size: 0.97vw;
	margin: 0.05vw;
}

.links {
	text-align: center;
}

@media(max-width: 600px) {
	.header h1 {
		font-size: 13vw;
	}

	.ru {
		font-size: 3.11vw;
	}

	.pic {
		font-size: 6.4vw;
	}

	.logo {
		width: 65vw;
	}

	.links a {
		font-size: 4vw;
		padding: 8px 4.5vw;
	}
}